.recipe-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: #555;
}

.recipe-details {
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.ingredients-section h3,
.steps-section h3 {
  font-size: 2rem;
  margin-top: 1.5em;
}

.ingredients-section ul,
.steps-section ol {
  font-size: 1.3rem;
  margin: 0 auto 2em auto;
  display: inline-block;
  text-align: left;
}

.ingredients-section ul {
  padding-left: 1.5em;
}

.steps-section ol {
  padding-left: 1.5em;
}