.title{
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  color: #333;
}

.recipe-form-container {
  display: flex;
  gap: 3rem;
  align-items: start;
  justify-content: center;
}

.ingredients-form {
  min-width: 64rem;
  max-width: 64rem;
  margin: 0;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 1.6rem;
  background: #fafafa;
  box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.1);
}

.ingredient-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2.5rem;
}

.add-btn-container {
  text-align: center;
  margin-bottom: 2rem;
}

.checkbox {
  min-width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkbox-label {
  margin-bottom: 0.6rem;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.checkbox .mat-checkbox {
  transform: scale(1.5);
  margin-bottom: 0.2rem;
}

.ingredients-form .label {
  font-size: 1.6rem;
}

.form-field {
  width: 100%;
  font-size: 1.6rem;
}

.remove-x {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  line-height: 1;
}
mat-error{
  text-justify: center;
  text-align: center;
  font-size: 1rem;
}

mat-label {
  font-size: 1.4rem;
}

input[matInput]::placeholder {
  font-size: 1.3rem;
}


.details-form {
  min-width: 30%;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 3rem;


  margin: 0;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 1.6rem;
  background: #fafafa;
  box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.1);
}

.form-field-no-bottom{
  margin-bottom: -1.25em;
}

.details-form .description-field{
  height: 10rem;
}

.time-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.time-field {
  max-width: 100px;
}

.step-rows{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.step-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}