/* Make form labels and errors larger */
.register-form .label {
  font-size: 1.6rem;
}
.register-form .error {
  font-size: 1.4rem;
}

.register-title {
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  color: #333;
}

.register-form {
  max-width: 48rem;
  margin: 0 auto;
  padding: 3.2rem;
  border: 1px solid #ddd;
  border-radius: 1.6rem;
  background: #fafafa;
  box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.1);
}

.form-field {
  width: 100%;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
}


.login-text {
  margin-top: 1.6rem;
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}


.login-text a {
  color: #1976d2;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}
.login-text a:hover {
  text-decoration: underline;
}


.success-message {
  font-size: 2.4rem;
  color: green;
  text-align: center;
  margin-top: 2.4rem;
}
.success-message a {
  color: #1976d2;
  font-weight: 600;
  font-size: 2rem;
}



.error-message {
  font-size: 2.4rem;
  color: red;
  text-align: center;
  margin-top: 1.6rem;
}
