<h2 class="login-title">Login</h2>


<ng-container *ngIf="loginSuccess !== true">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Enter your email">
      <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        Email is required and must be valid.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Enter your password">
      <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Password must be at least 6 characters.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>

  <p class="signup-text">
    Don't have an account? <a routerLink="/register">Sign up</a>
  </p>
</ng-container>


<div *ngIf="loginSuccess === true" class="success-message">
  Login successful! Redirecting...
</div>
